* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo image */
.logo {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

/* header */
.header {
    background-color: white;
    height: 80px;
    align-items: center;
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    -webkit-box-shadow: 0 8px 6px -6px #eee;
    -moz-box-shadow: 0 8px 6px -6px #eee;
    box-shadow: 0 8px 6px -6px #eee;

    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.header div ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.categories {
    margin-left: 50px;
    display: block;
    float: left;
    width: 33%;
    border: 1px solid whitesmoke;
    position: absolute;
}

.categories {
    margin-left: 120px;
    display: block;
    width: 33%;
    border: 1px solid lightgoldenrodyellow;
    position: absolute;
}

.dropdown-content1:hover {
    border-bottom: 5px solid rgb(6, 47, 109);
}

.dropdown-content2:hover {
    border-bottom: 5px solid rgb(238, 0, 119);
}

.dropdown-content3:hover {
    border-bottom: 5px solid orangered;
}

.dropdown-content4:hover {
    border-bottom: 5px solid gold;
}

.dropdown-content5:hover {
    border-bottom: 5px solid blue;
}

.dropdown-content6:hover {
    border-bottom: 5px solid gold;
}

/* search-div search bar */
.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 41%;
    width: 30%;
    height: 40px;
    border: 1px solid whitesmoke;
}

.search-div input[type="text"] {
    background-color: lightgrey;
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 5px;
}

/* nav last(profile,wishlist,bag */
.nav-last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 10%;
    height: 40px;
    border: 1px solid whitesmoke;
    gap: 6px;
}

.nav-last i {
    height: 20px;
    width: 10px;
}

.nav-last i:hover {
    color: rgb(238, 0, 119);
}

@media screen and (max-width: 768px) {
    .header {
        display: block;
        height: 100px;
    }

    .categories {
        display: none;
    }

    .search-div {
        margin-left: 0;
        width: 100%;
    }

    .search-div input[type="text"] {
        width: 90%;
    }

    .nav-last {
        margin-left: 0;
        width: 100%;
    }
}
/* flatoff images */
.flatoff1 img{
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-top: 90px;
    width: 35%;
    height: 8%;
}
.flatoff2 img {
    display: flex;
    align-items: center;
    margin-left:750px ;
    margin-top: -60px;
    width: 35%;
    height: 8%;
}
@media screen and (max-width: 768px) {
    .flatoff1 img {
        display: none;
    }
    .flatoff2 img {
        display: none;
    }
}
/* homepage image */
.homepage img {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 10px;
    width: 85%;
    height: 45%;
}
@media screen and (max-width: 768px) {
    .homepage img {
        display: none;
    }
}
/* carossel slides */
.carousel {
    width: 100%;
    max-width: 1200px;
    margin: 35px auto;
    overflow: hidden; /* Hide overflow */
    position: relative;
    border-radius: 10px;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth sliding */
    width: 300%; /* Adjust width based on number of slides */
  }
  
  .carousel-item {
    width: 100%;
    flex-shrink: 0;
  }
  
  .carousel-item img {
    margin-top: -25px;
    object-fit: contain;
    width: 50%;
    height: 60%;
    display: block;
    border-radius: 10px;
    margin-left:-300px;
  }
  @media screen and (max-width: 768px) {
    .carousel-item img {
        display: none;
    }
}
/* Dots container */
.carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Individual dots */
  .carousel-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Active dot */
  .carousel-dots .dot.active {
    background-color: #333;
  }
  
  /* coupons offer img */
    .coupons img {
        display: flex;
        align-items: center;
        margin-left:-15px;
        margin-top: 2px;
        width: 100%;
        height:15%;
    }
  @media screen and (max-width: 768px) {
    .coupons img {
        display: none;
    }
}
/* dropdown menu */

.dropdown-menu {

    position: absolute;
    top: 200px;
    display: none;
    position: fixed;
    background: white;
    top: 70px;
    z-index: 20;
    padding: 10px 30px 10px;
    border: 1px solid #eee;
    box-shadow: 0 8px 6px -6px #aaa;
}

.dropdown-menu1 {
    left: 10%;
}

.dropdown-menu2 {
    left: 14%;
}

.dropdown-menu3 {
    left: 19.5%;
}

.dropdown-menu4 {
    left: 26%;
}

.dropdown-menu5 {
    left: 34%;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
}

.dropdown-menu ul li a {
    margin-right: 20px;
    padding: 28px 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
    transition: left 0.2s ease-out, width 0.2s ease-out;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dropdown-menu ul li:hover a {
    padding-left: 8px;
    padding-right: -8px;
    color: #ff0095;
}

.dropdown-menu ul {
    list-style: none;
}

.header div ul li a {
    margin-right: 20px;
    padding: 28px 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
    transition: left 0.2s ease-out, width 0.2s ease-out;
    font-weight: 600;
    text-transform: uppercase;
}

.header div ul:hover {
    border-bottom: whitesmoke;
    background-color: whitesmoke;
}

body {
    font-family: Verdana, sans-serif;
    background-color: rgb(248, 248, 248);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.mySlides {
    display: none;
}

